<ng-template #formDialog class="examplew-wrapper">
  <kendo-window
    title="Thêm mới thông tin nhân viên"
    *ngIf="isNew"
    (close)="closeForm()"
    [minWidth]="250"
    [width]="950"
    [height]="650"
  >
    <form [formGroup]="formUser" #formAdd="ngForm">
      <div class="avatar">
        <img
          [src]="imageUrl"
          class="avatar-user"
          style="width: 250px; height: 200px"
        />
        <input
          type="file"
          #Image
          accept="image/*"
          (change)="handleFileInput($event)"
        />
        <span class="k-icon k-i-arrows-swap"></span>
      </div>
      <div class="k-form">
        <label class="k-form-field">
          <kendo-formerror class="error-mess">(*)</kendo-formerror>
          <span class="form-label">Mã NV</span>
          <input
            class="form-input"
            formControlName="maNV"
            kendoTextBox
            placeholder="Value"
            required
          />
        </label>

        <label class="k-form-field">
          <kendo-formerror class="error-mess">(*)</kendo-formerror>
          <span class="form-label">Chức vụ</span>
          <kendo-combobox
            [data]="dataChucvu"
            class="form-input"
            formControlName="chucVu"
            kendoTextBox
            required
          ></kendo-combobox>
        </label>

        <label class="k-form-field">
          <kendo-formerror class="error-mess">(*)</kendo-formerror>
          <span class="form-label">Họ </span>
          <input
            class="form-input"
            formControlName="ho"
            kendoTextBox
            placeholder="Value"
            required
          />
        </label>

        <label class="k-form-field">
          <kendo-formerror class="error-mess">(*)</kendo-formerror>
          <span class="form-label">Tên</span>
          <input
            class="form-input"
            formControlName="ten"
            kendoTextBox
            placeholder="Value"
            required
          />
        </label>

        <label class="k-form-field">
          <kendo-formerror class="error-mess">(*)</kendo-formerror>
          <span class="form-label">Phòng ban</span>
          <kendo-dropdowntree
            kendoDropDownTreeExpandable
            [kendoDropDownTreeHierarchyBinding]="data"
            childrenField="items"
            textField="text"
            valueField="text"
            class="form-input"
            formControlName="phongB"
            valuePrimitive="true"
            required
          >
          </kendo-dropdowntree>
        </label>

        <label class="k-form-field">
          <kendo-formerror class="error-mess">(*)</kendo-formerror>
          <span class="form-label">Chức danh</span>
          <kendo-combobox
            [data]="dataChucdanh"
            class="form-input"
            formControlName="chucV"
            kendoTextBox
            required
          ></kendo-combobox>
        </label>
      </div>

      <div class="k-actions k-actions-end">
        <button
          kendoButton
          themeColor="primary"
          type="button"
          [disabled]="!formAdd"
          (click)="AddUser($event)"
          [disabled]="!formAdd.valid"
        >
          Thêm
        </button>
        <button kendoButton type="button" (click)="closeForm()">Đóng</button>
      </div>
    </form>
  </kendo-window>
</ng-template>
<div [ngTemplateOutlet]="formDialog"></div>
