kendo-treeview {
    width: 20%;
  }
.form-group{
    display: flex;
    justify-content: center;
}
.kendo-grid{
    width:80%;
}
.kendo-items{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li{
        padding: 10px;
        margin-left:10px;
        font-size: 16px;
        cursor:pointer;
        border-radius:10px;
        background-color: orange;
    }
    li:hover{
        opacity:0.8;
        color: orange;
        color:black;
    }
}
