kendo-treeview {
    width: 20%;
  }
.form-group{
    display: flex;
    justify-content: center;
}
.furniture{
    width: 250px;
    height: 35px;
}
.kendo-grid{
    width:80%;
}
.kendo-items{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li{
        padding: 10px;
        margin-left:10px;
        font-size: 16px;
        
        border-radius:10px;
        background-color: orange;
    }
    li:hover{
        opacity:0.8;
        color: orange;
        color:black;
        cursor:pointer;
    }
}
.buttonRemove{
    width: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    background-color: orange;
    color: #000;
    margin-left: 10px;
    buttonRemove:hover{
        opacity:0.8;
        color: orange;
        color:black;
        cursor:pointer;
    }
}
.buttonEdit{
    width: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    margin-left: 10px;
    buttonEdit:hover{
        opacity:0.8;
        color: orange;
        color:black;
        cursor:pointer;
    }
    
}
